.contact__form .form-control {
    padding: 1.375rem .75rem;
    line-height: 1.5;
    color: var(--text-color);
    background-color: var(--bg-color);
    border-radius: 0 !important;
    border: 1px solid var(--secondary-color);
    width: 20rem;
    border: 2px solid #ccc; /* Adjust color as desired */
}

.contact__form input.form-control {
    margin-bottom: 2em;
    height: calc(2.5em + .75rem + 2px);
    border: 2px solid #ccc; /* Adjust color as desired */
}

button.btn.ac_btn:hover {
    color: var(--secondary-color);
    animation: buttonHover 0.5s ease-in-out;
    border-radius: 2px;
    border: 5px solid #ccc; /* Adjust color as desired */
   
  }

.btn.ac_btn{
    margin-top: 2rem;
    width: 6rem;
    border: 1px solid #ccc; /* Adjust color as desired */

}
  
  @keyframes buttonHover {
    from { transform: scale(1); }
    to { transform: scale(1.05); }
  }
  

.loading-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 30px;
    z-index: 999999999;
    background: var(--text-color);
    transform: translateX(100%);
    animation: shift-rightwards 1s ease-in-out infinite;
    animation-delay: .3s;
    
}

@keyframes shift-rightwards {
    0% {
        transform: translateX(-100%);
    }
    40% {
        transform: translateX(0%);
    }
    60% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(100%);
    }
}

.parent-container {
    display: grid;
    grid-template-rows: 1fr auto; /* First row takes 1 fraction, second fills remaining space */
  }
  
  .contact__form {
    grid-row: 2; /* Place form in the second row */
  }
  .parent-container {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
  }
  
  .contact__form {
    flex: 1; /* Takes up remaining space */
  }

  .contact__form {
    min-height: 500px; /* Adjust the minimum height as needed */
  }


  
  

 

  